@page "/"
@model ProyectoRazor.Pages.IndexModel
@{
	ViewData["Title"] = "Home-Page";
}


<h2>Descripciones</h2>
<div class="desc-cont">
    <div class="description">
        <h3>Ejercicio 1</h3>
        <p>
            Elegidos varios valores se mostrara la información del dato
            que cumpla con dichos criterios.
        </p>
    </div>
    <div class="description">
        <h3>Ejercicio 2</h3>
        <p>
            Seleccionada una fecha determinada, se mostrarán los elementos
            de la tabla que cumplan dicha selección de fecha.
        </p>
    </div>
    <div class="description">
        <h3>Ejercicio 3</h3>
        <p>
            Al seleccionar los distintos valores se iran filtrando los datos
            para que se muestren aquellos que cumplan con lo especificado
        </p>
    </div>
    <div class="description">
        <h3>Ejercicio 4</h3>
        <p>
            Introduce un número del 0 al 10 y luego presiona inferior si quieres
            ver los discos con puntuación media inferior a dicho número o superior
            para mostrar con la puntuación media mayor.
        </p>
    </div>
    <div class="description">
        <h3>Ejercicio 5</h3>
        <p>
            Quiz, selecciona la opción correcta para ganar
        </p>
    </div>
        <div class="description">
        <h3>Ejercicio 6</h3>
        <p>
            Al seleccionar los distintos valores se iran filtrando los datos
            para que se muestren aquellos que cumplan con lo especificado
        </p>
    </div>
</div>