@page
@model Ejercicios701.Pages.Ejercicio2Model
@{
}

<!Doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Ejercicios701</title>
    <link rel="stylesheet" href="./css/Styles.css" />
</head>

<body>
<header>
    <div>
        <img src="./media/0f43f17f-78ba-4307-a0d5-fed381c950fc.jpg" alt="miFoto" width="75" />
        <p>Guillermo Afonso Santacreu 1-DAW-A</p>
    </div>

</header>
<div class="container">
    <main>
		<h1>Cuenta Palabras</h1>
		<div class="exercise2">
            <form method="post" action="">
                @if (Request.Method == "POST")
                {
                    <div>
                        <label for="frase">Frase</label>
                        <input type="text" name="frase" value="@Request.Form["frase"]"/>
                    </div>
                    <div>
                        <label for="palabra">Palabra</label>
                        <input type="text" name="palabra" value="@Request.Form["palabra"]" />
                    </div>
                }
                else {
                    <div>
                        <label for="frase">Frase</label>
                        <input type="text" name="frase"/>
                    </div>
                    <div>
                        <label for="palabra">Palabra</label>
                        <input type="text" name="palabra"/>
                    </div>
                }
                <input type="submit" value="Contar" />
            </form>

            @if (Request.Method == "POST")
            {
                string frase = Request.Form["frase"],
                       palabra = Request.Form["palabra"];
                frase = frase.Replace(",", " ");
                frase = frase.Replace(".", " ");
                frase = frase.Replace("!", " ");
                frase = frase.ToLower().Trim();
                palabra = palabra.ToLower().Trim();
                int aparicionPalabra = frase.Split(' ').Where(p => p == palabra).ToList().Count;
                <p>La palabra "@palabra" aparece @aparicionPalabra veces. </p>
                    
            }
        </div>
    </main>

    <aside>
        <div class="aside-box">
            <h3>Ejercicios</h3>
            <ul>
                <li><a href="Ejercicio1"> Ejercicio 1</a></li>
                <li><a href="#"> Ejercicio 2</a></li>
                <li><a href="Ejercicio3"> Ejercicio 3</a></li>
                <li><a href="Inicio"> Principal</a></li>
            </ul>
        </div>
    </aside>
</div>

<footer>
    <p>19/05/2023 - CIPF César Manrique - Guillermo Afonso Afonso - Curso 2022-2023</p>
</footer>
</body>
</html>
