@page
@model Ejercicios701.Pages.Ejercicio2Model
@{
}

<!Doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Ejercicios701</title>
    <link rel="stylesheet" href="./css/Styles.css" />
</head>

<body>
<header>
    <div>
        <img src="./media/0f43f17f-78ba-4307-a0d5-fed381c950fc.jpg" alt="miFoto" width="75" />
        <p>Guillermo Afonso Santacreu 1-DAW-A</p>
    </div>

</header>
<div class="container">
    <main>
        <form method="post" action="">
            @if (Request.Method == "POST")
            {
                    <label for="frase">Frase</label>
                    <input type="text" name="frase" value="@Request.Form["frase"]"  />
                    <label for="palabra">Palabra</label>
                    <input type="text" name="palabra" value="@Request.Form["palabra"]" />
            }
            else {
                    <label for="frase">Frase</label>
                    <input type="text" name="frase"  />
                    <label for="palabra">Segundo número</label>
                    <input type="text" name="palabra" />
            }
            <p>
                <input type="submit" value="Send" />
            </p>
        </form>

            @if (Request.Method == "POST")
            {
                string frase = Request.Form["frase"],
                       palabra = Request.Form["palabra"];
                frase.Replace(",", "");
                frase.Replace(".", "");
                frase.Replace("!", "");
                frase = frase.ToLower().Trim();
                palabra = palabra.ToLower().Trim();
                    int aparicionPalabra = frase.Split(' ').Where(p => p == palabra).ToList().Count;
                    int aparicionPalabra2 = frase.Split(' ').Where(p => p == palabra).Count();
                <p>La palabra aparece @aparicionPalabra -- @aparicionPalabra2</p>
                    
            }
    </main>

    <aside>
        <div class="aside-box">
            <h3>Ejercicios</h3>
            <ul>
                <li><a href="Ejercicio1"> Ejercicio 1</a></li>
                <li><a href="#"> Ejercicio 2</a></li>
                <li><a href="Ejercicio3"> Ejercicio 3</a></li>
                <li><a href="Inicio"> Principal</a></li>
            </ul>
        </div>
    </aside>
</div>

<footer>
    <p>19/05/2023 - CIPF César Manrique - Guillermo Afonso Afonso - Curso 2022-2023</p>
</footer>
</body>
</html>
