@page
@model Ejercicios701.Pages.InicioModel
@{
}

<!Doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Ejercicios701</title>
    <link rel="stylesheet" href="./css/Styles.css"/>
</head>

<body>
</body>
    <header>
	    <div>
		    <img src="./media/0f43f17f-78ba-4307-a0d5-fed381c950fc.jpg" alt="miFoto" width="75" />
		    <p>Guillermo Afonso Santacreu 1-DAW-A</p>
        </div>

    </header>
    <div class="container">
        <main>
		    <h2>Descripciones</h2>
		    <div class="description">
			    <h3>Ejercicio 1</h3>
			    <p>
                    Al pasar 2 números por parámetros y pulsar el boton "Operar",
                    se imprimira la suma, resta, multiplicación y división de dichos números
                </p>
            </div>
            <div class="description">
                <h3>Ejercicio 2</h3>
                <p>
                    Dado un texto y una palabra, al pulsar el boton "Cuenta",
                    se imprimira el número de veces que sale dicha palabra en el texto
                </p>
            </div>
            <div class="description">
                <h3>Ejercicio 3</h3>
                <p>
                    Dada una fecha anterior al día de hoy, se imprimira 
                    cuantos días hay desde esa fecha hasta la actual.
                </p>
            </div>
        </main>

        <aside>
		    <div class="aside-box">
		        <h3>Ejercicios</h3>
                <ul>
                    <li><a href="Ejercicio1"> Ejercicio 1</a></li>
                    <li><a href="Ejercicio2"> Ejercicio 2</a></li>
                    <li><a href="Ejercicio3"> Ejercicio 3</a></li>
                    <li><a href="#"> Principal</a></li>
                </ul>
            </div>
        </aside>
    </div>

    <footer>
        <p>19/05/2023 - CIPF César Manrique - Guillermo Afonso Afonso - Curso 2022-2023</p>
    </footer>
</html>
