@page
@model Ejercicios701.Pages.InicioModel
@{
}

<!Doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Ejercicios701</title>
    <link rel="stylesheet" href="./css/Styles.css"/>
</head>

<body>
</body>
    <header>

    </header>

    <main>

    </main>

    <aside>
        <ul>
            <li><a href="#"> Ejercicio 1</a></li>
            <li><a href ="#"> Ejercicio 2</a></li>
            <li><a href="#"> Ejercicio 3</a></li>
            <li><a href="#"> Principal</a></li>
        </ul>
    </aside>

    <footer>
        <p>19/05/2023 - CIPF César Manrique - Guillermo Afonso Afonso</p>
    </footer>
</html>
