<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <img src="./media/0f43f17f-78ba-4307-a0d5-fed381c950fc.jpg" alt="miFoto" width="75" />
            <p>Guillermo Afonso Santacreu 1-DAW-A</p>
        </div>

    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>

        <aside>
            <div class="aside-box">
                <h3>Ejercicios</h3>
                <ul>
                    <li><a href="SelectionPage"> Ejercicio 1</a></li>
                    <li><a href="DatePage"> Ejercicio 2</a></li>
                    <li><a href="FilterPage"> Ejercicio 3</a></li>
                    <li><a href="/"> Principal</a></li>
                </ul>
            </div>
        </aside>

        <footer>
            <p>19/05/2023 - CIPF César Manrique - Guillermo Afonso Afonso - Curso 2022-2023</p>
        </footer>
    </div>
</body>
</html>