@page
@model WebApplication3.Pages.HomeModel
@{
	ViewData["Title"] = "Home-Page";
}

<h2>Descripciones</h2>
<div class="description">
    <h3>Ejercicio 1</h3>
    <p>
        Al pasar 2 números por parámetros y pulsar el boton "Operar",
        se imprimira la suma, resta, multiplicación y división de dichos números
    </p>
</div>
<div class="description">
    <h3>Ejercicio 2</h3>
    <p>
        Dado un texto y una palabra, al pulsar el boton "Cuenta",
        se imprimira el número de veces que sale dicha palabra en el texto
    </p>
</div>
<div class="description">
    <h3>Ejercicio 3</h3>
    <p>
        Dada una fecha anterior al día de hoy, se imprimira
        cuantos días hay desde esa fecha hasta la actual.
    </p>
</div>