@page
@model WebApplication3.Pages.PasswordModel
@{
}


<div id="passw">
    <form method="post">
        @if (Request.Method == "POST") {
            <div>
                <label for="contenido">Contenido</label>
                <select name="contenido" width="300px">
                    <option value="letras">letras</option>
                    <option value="letrasNumeros">letras y números</option>
                    <option value="letrasNumerosSimbs">letras, números y símbolos</option>
                </select>
            </div>
            <div>
                <label for="tamanio">Tamaño</label>
                <input name="tamanio" type="number" min="8" max="20" width="300"/>
            </div>
        }
        else
        {
            <div>
                <label for="contenido">Contenido</label>
                <select name="contenido" width="300px">
                    <option value="letras">letras</option>
                    <option value="letrasNumeros">letras y números</option>
                    <option value="letrasNumerosSimbs">letras, números y símbolos</option>
                </select>
            </div>
            <div>
                <label for="tamanio">Tamaño</label>
                <input name="tamanio" type="number" min="8" max="20" width="300" />
            </div>
        }
        <div id="df">
            <input type="submit" value="Generar" />
            <input type="reset" value="Limpiar" />
        </div>
    </form>
</div>