@page
@model WebApplication3.Pages.RowColModel
@{
	ViewData["Title"] = "Rol-Col";
}

<form method="post">
	@if (Request.Method == "POST")
	{
		<label for="filas">Filas</label>
		<select name="filas">
			<option value="1">1</option>
			<option value="3">3</option>
			<option value="5">5</option>
		</select>
		<label for="columnas">Columnas</label>
		<select name="columnas" size="3">
			<option value="1">1</option>
			<option value="3">3</option>
			<option value="5">5</option>
		</select>

	}
	else
	{
		<label for="filas">Filas</label>
		<select name="filas">
			<option value="1">1</option>
			<option value="3">3</option>
			<option value="5">5</option>
		</select>
		<label for="columnas">Columnas</label>
		<select name="columnas" size="3">
			<option value="1">1</option>
			<option value="3">3</option>
			<option value="5">5</option>
		</select>
	}
	<input type="submit" value="Rellenar" />
</form>
<div>
	<table>
		@if (Request.Method == "POST") {
			int filas = Convert.ToInt32(Request.Form["filas"]);
			int columnas = Convert.ToInt32(Request.Form["columnas"]);
			@for (int i = 1; i <= filas; i++)
			{
				<tr>
					@for(int j = 0; j < columnas; j++) {
						<td>@(i + j)</td>
					}
				</tr>
			}
		}
	</table>

</div>
