@page
@model WebApplication3.Pages.RowColModel
@{
	ViewData["Title"] = "Rol-Col";
}

<div id="e5">

	<form method="post" class="ejer5">
		@if (Request.Method == "POST")
		{
			<label for="filas">Filas</label>
			<select name="filas" width="300" required>
				<option value="1">1</option>
				<option value="3">3</option>
				<option value="5">5</option>
			</select>
			<label for="columnas">Columnas</label>
			<select name="columnas" size="3" width="300" required>
				<option value="1">1</option>
				<option value="3">3</option>
				<option value="5">5</option>
			</select>

		}
		else
		{
			<label for="filas">Filas</label>
			<select name="filas" required>
				<option value="1">1</option>
				<option value="3">3</option>
				<option value="5">5</option>
			</select>
			<label for="columnas">Columnas</label>
			<select name="columnas" size="3" required>
				<option value="1">1</option>
				<option value="3">3</option>
				<option value="5">5</option>
			</select>
		}
		<input type="submit" value="Rellenar" />
	</form>
	<div>
		<table>
			@if (Request.Method == "POST") {
				int filas = Convert.ToInt32(Request.Form["filas"]);
				int columnas = Convert.ToInt32(Request.Form["columnas"]);
				int celda = 0;
				@for (int i = 1; i <= filas; i++)
				{
					<tr>
						@for(int j = 0; j < columnas; j++) {
							<td>@(++celda)</td>
						}
					</tr>
				}
			}
		</table>

	</div>
</div>
